@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@media only screen and (min-width: 375px) {
    body {
        background-image: url(./images/bg-intro-mobile.png);
        background-color: hsl(0, 100%, 74%);
        font-family: 'Poppins', sans-serif;
    }

    h1, p{
        color: white;
        text-align: center;
    }

    p{
        font-size: 15px;
    }

    button.btn{
        color: white;
        background-color: hsl(248, 32%, 49%);
        padding: 27px 70px;
        margin: auto;
        width: 90%;
        display: block;
        border-radius: 10px;
        margin-top: 70px;
        border-color: hsl(248, 32%, 49%);
        box-shadow: 0px 6px 0px #4444;    
    }

    form{
        margin: 20px auto;
        width: 85%;
        background-color: white;
        border-radius: 10px;
        padding: 20px 10px;
        margin-bottom: 100px;
    }

    input{
        margin: 5px 10px;
        width: 90%;
        padding: 10px 5px;
        border-radius: 5px;
        border: 1px solid #4444;
    }

    input::placeholder {
        padding: 20px;
    }

    input.submit{
        background-color: hsl(154, 59%, 51%);
        border-color: hsl(154, 59%, 51%);
        color: white;
        width: 95%;
        box-shadow: 0px 3px 0px #4444;
    }

    h6{
        color: hsl(246, 25%, 77%);
        padding: 0 35px;
        text-align: center;
        margin-top: 10px;
    }

    h6 span{
        color: red;
    }

    h1{
        margin-top: 100px;
    }
}


@media only screen and (min-width: 1024px) {
    body{
        display: flex;
        height: 100vh;
        margin: auto;
        width: 80%;
        justify-content: space-between;
    }


    .leftside{
        position: relative;
        top: 25%;
    }
    .rightside{
        position: relative;
        top: 10%;
    }

    input.btn{
        width: 95%;
    }

    .leftside{
        width: 80%;
    }

    h1,p {
        text-align: left;
    }
    
    h1{
        letter-spacing: 3px;
    }

    input.submit{
        cursor: pointer;
    }
}



